Olá,<strong> {{ name }}</strong>, seja bem-vindo a rede de academias Gympoint.
<p>Confira os detalhes da sua matrícula abaixo:</p>
<p>
    <strong>Plano: </strong> {{ title }} <br />
    <strong>Data de Término: </strong> {{ date }} <br />
    <strong>Valor: </strong> {{ price }} <br />
    <br />
    <small>
        Parabéns por se matricular na melhor academia!
    </small>
</p>
